* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.full-screen {
  width: 100%;
  height: 100%;
}

.display-img {
  /* 
  can work:
  brightness
  sepia
  */
  filter: grayscale(1) brightness(50%);
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.letters_span {
  font-size: 50px;
  opacity: 0;
  margin-bottom: -100px;
  color: white;
  text-transform: capitalize;
}

.letters {
  position: absolute;
  left: 40px;
  top: 0;
}

.link_nostyle {
  text-decoration: none;
}

.link-container {
  position: absolute;
  right: 250px;
  top: 10px;
}

.li-items {
  text-align: center;
  width: 80px;
  opacity: 0;
  color: white;
  position: absolute;
  right: 20px;
  top: 9px;
  border-bottom: 1px solid white;
  padding: 5px 10px;
}

.li-items > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
/* inspiration page */
.inspiration_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
}

.back_icon {
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s ease;
  opacity: 0;
}
.back_icon:hover {
  transform: rotate(0.25turn);
}

.back_icon:visited {
  color: white;
}
.back_icon:active {
  color: white;
}
/* contact page */
.contact_wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 50px 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.contact_header {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
}
.contact_subheader {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.social_media {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.social_facebook {
  transition: all 0.2s;
}
.social_facebook:visited {
  text-decoration: none;
  color: white;
}
.social_facebook:active {
  text-decoration: none;
  color: white;
}
.social_facebook:hover {
  color: #3b5998;
}

.icon_text {
  display: flex;
  align-items: center;
}
/* transition functionality */

.page {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
