// display page
.display-img {
  /* 
    can work:
    brightness
    sepia
    */
  filter: grayscale(1) brightness(50%);
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.letters_span {
  font-size: 50px;
  opacity: 0;
  margin-bottom: -100px;
  color: white;
  text-transform: capitalize;
}

.letters {
  position: absolute;
  left: 40px;
  top: 0;
}

.link_nostyle {
  text-decoration: none;
}

.link-container {
  position: absolute;
  right: 250px;
  top: 10px;
}

.li-items {
  text-align: center;
  width: 80px;
  opacity: 0;
  color: white;
  position: absolute;
  right: 20px;
  top: 9px;
  border-bottom: 1px solid white;
  padding: 5px 10px;
}

.li-items > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
