// display page
.display-img {
  filter: grayscale(1) brightness(50%);
  background-image: url("../assets/machine.jpg");
  opacity: 1;
  position: absolute;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 101%;
  z-index: -1;
}

.letters_span {
  font-size: 50px;
  opacity: 0;
  margin-bottom: -100px;
  color: white;
  text-transform: capitalize;
}

.letters {
  position: absolute;
  left: 40px;
  top: 0;
}

.link_nostyle {
  text-decoration: none;
}

.link-container {
  position: absolute;
  right: 250px;
  top: 10px;
}

.li-items {
  text-align: center;
  width: 100px;
  opacity: 0;
  color: white;
  position: absolute;
  right: 20px;
  top: 9px;
  border-bottom: 1px solid white;
  padding: 5px 10px;
}

.li-items > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
