/* inspiration page */
.inspiration_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b59369;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inspiration_container {
  position: absolute;
  left: 1500px;
  top: 0;
  width: 6000px;
  height: 100%;
}

.div_image {
  display: inline-block;
  position: relative;
  opacity: 0.8;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    z-index: 100;
  }
}

.inspiration_img {
  -webkit-box-shadow: 2px 5px 25px 5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 5px 25px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 5px 25px 5px rgba(0, 0, 0, 0.53);
  border: 15px solid white;
  object-fit: cover;
}

.back_icon {
  position: fixed;
  left: 20px;
  top: 20px;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 150;
}
.back_icon:hover {
  transform: rotate(0.25turn);
}

.back_icon:visited {
  color: white;
}
.back_icon:active {
  color: white;
}
/* modal */

// modal block
.modal_block {
  display: none;
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1701;
}

.modal_close {
  display: none;
  width: 10%;
  height: 100%;
  position: relative;
  left: -300px;
  top: 0;
  background-color: white;
  z-index: 1711;
  overflow: hidden;
}
