.shop_nav {
  position: absolute;
  top: 60%;
  left: 99%;
  width: 100%;
}

.shop_nav__li {
  border: 15px solid pink;
  background-color: white;
  margin: 10px 0;
  padding-left: 15px;
  transition: all 0.3s ease;
  &:hover {
    border: 10px solid white;
    transform: scale(1.3);
  }
}
// carousel settings
.carousel_shop {
  height: 570px !important;
}

.carousel-item_shop {
  width: 400px !important;
  height: 400px !important;
}

.carousel-img {
  width: 400px !important;
  height: 400px !important;
}
.carousel_wishlistAdd {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite_add {
  opacity: 0.7;
  filter: drop-shadow(2px 5px 3px rgba(0, 0, 0, 0.7));
}
